# Sample gitconfig
#

[hub]
  protocol = https

[alias]
  merge-no-ff = merge --no-ff
  pull-no-ff = pull --no-ff
  glog = log --graph --decorate --all

[user]
  name = AUTHORNAME
  email = AUTHOREMAIL

[credential]
  helper = GIT_CREDENTIAL_HELPER

[core]
	excludesfile = /path/to/.gitignore_global

[push]
	default = simple

[merge]
	tool = opendiff

[diff]
	external = opendiff
