Host *
UseKeychain yes
AddKeysToAgent yes
IdentityFile ~/.ssh/{{ ssh_key }}

Host pve
HostName 192.168.10.10
User root
IdentityFile ~/.ssh/{{ ssh_key }}

Host pihole-main
HostName 192.168.10.51
User sfhd
IdentityFile ~/.ssh/pve

Host pihole-backup
HostName 192.168.10.52
User sfhd
IdentityFile ~/.ssh/pve

Host reverseproxy
HostName 192.168.10.14
User sfhd
IdentityFile ~/.ssh/pve

Host media
HostName 192.168.10.15
User sfhd
IdentityFile ~/.ssh/pve

Host harbor
HostName 192.168.10.17
User root
IdentityFile ~/.ssh/pve
