"*":
  "exception-reporting":
    userId: "7180cbaf-7e6b-cc03-9e11-c96eccc0b1ea"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    invisibles: {}
    fontSize: 12
  react: {}
  "tree-view":
    hideIgnoredNames: true
  "autocomplete-plus":
    confirmCompletion: "tab and enter"
  "atom-beautify":
    _analyticsUserId: "7e8fbc9a-7bc6-4a03-a4e9-9e39fa69e6f6"
    beautifyOnSave: true
    css_newline_between_rules: true
    css_preserve_newlines: true
    analytics: false
    muteUnsupportedLanguageErrors: true
