"*":
  "exception-reporting":
    userId: "1a2f30c8-ad24-4ae3-6f2c-e18290713498"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
    showIndentGuide: true
  "file-icons":
    coloured: false
    onChanges: true
  docblockr: {}
  "language-babel": {}
  "linter-eslint": {}
  "markdown-preview":
    useGitHubStyle: true
