"*":
  "exception-reporting":
    userId: "7180cbaf-7e6b-cc03-9e11-c96eccc0b1ea"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
    audioBeep: false
  editor:
    invisibles: {}
    fontSize: 12
    showIndentGuide: true
  react: {}
  "tree-view":
    hideIgnoredNames: true
  "project-manager":
    sortBy: "title"
  "linter-jscs":
    harmony: true
    preset: "google"
    excludeFiles: [
      "node_modules/**"
    ]
    fileExtensions: [
      ".js"
      ".jsx"
    ]
    esnext: true
    verbose: true
    displayAs: "warning"
  linter:
    showInfoMessages: true
    statusBar: "Show all errors"
    showErrorInline: false
    ignoredLinterErrors: [
      "jscs"
      "jsxhint"
    ]
    subtleLinterErrors: [
      "jshint"
    ]
    clearOnChange: true
  csslint:
    hideOnNoErrors: true
    validateOnChange: true
  "linter-csslint": {}
  "linter-less":
    strictMath: true
  "linter-jshint": {}
  "linter-jsxhint":
    harmony: true
  "jscs-fixer":
    harmony: true
    jsx: true
  docblockr: {}
  "file-icons":
    onChanges: true
