"*":
  core:
    allowPendingPaneItems: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "metrics"
      "atom-linter-node-dependencies"
      "whitespace"
      "js-hyperclick"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "*.orig"
    ]
    telemetryConsent: "limited"
  docblockr:
    param_description: false
    return_description: false
  editor:
    fontFamily: "FiraCode-Retina"
    fontSize: 11
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
  "exception-reporting":
    userId: "1a2f30c8-ad24-4ae3-6f2c-e18290713498"
  "file-icons":
    coloured: false
    onChanges: true
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    experimental: {}
    general:
      analytics: false
  "highlight-line": {}
  "language-babel": {}
  linter: {}
  "linter-eslint":
    fixOnSave: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-ui-default": {}
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    absoluteMode: true
    adjustMinimapWidthOnlyIfSmaller: false
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "project-manager":
    sortBy: "title"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".ini.source":
  editor:
    tabLength: 4
".source.yaml":
  editor:
    autoIndentOnPaste: true
